body {
  background: rgb(250, 239, 205);
}

h1,
p {
  text-align: center;
}

footer {
  text-align: center;
  color: green;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px;
  display: block;
}
